name: Metrics
on:
  schedule:
    - cron: "0 0 * * *" # 毎日実行
  workflow_dispatch: # 手動実行も可能

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: dkhokhlov/metrics@master
        with:
          filename: achievements.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_achievements: yes
          plugin_achievements_threshold: B
          plugin_achievements_ignored: manager
